<section class="about-me">
    <div class="about-me-content">
      <p>Hi there! 👋 I'm a software engineering graduate with a master's degree in software engineering and 4 years of experience in web and back-end development. While I haven't formally held leadership roles, I've made significant decisions in teams and projects, playing an influential role in decision-making. My passion for development is complemented by my superpower of quick learning and being self-taught, enabling me to thrive in various work environments and business areas.</p>
      <p>I'm energetic and committed, enjoy teamwork, and possess soft and organizational skills. I handle pressure situations with ease, am adept at multitasking, and appreciate clean code, with experience in agile methodologies.</p>
      <p>I'm excited about the opportunity to collaborate with you and contribute to new projects 😁</p>
      <br>
      <a href="/resume" class="resume-link">Check my resume here!</a>
    </div>
</section>