<section class="about-me">
    <div class="about-me-content">
      <p>Computer engineer with a master's in computer engineering and backend development experience, specializing in PHP with extensive work in Python and JavaScript.</p>
      <p>I've contributed to various projects, taking part in technical decisions and building efficient solutions focused on clean, maintainable, and scalable code.</p>
      <p>I adapt quickly to new environments, work with agile methodologies, and handle multiple tasks effectively. I'm also working on my own project focused on tech solutions.</p>
    </div>
</section>