<h2>🚀 Projects</h2>

<hr>

<div class="projects-container">
    
    <!-- Project 1 -->
    <div class="project-card">
        <img src="{{ '/assets/files/flow.jpg' | prepend: site.url }}" alt="Flow Example Image">
        <div class="project-title">Flow</div>
        <div class="project-details">
            <div class="project-description">
                Flow is a comprehensive platform that offers a wide range of services including 
                payment processing, financial management, and customer support solutions. 
                Designed to streamline operations for businesses and enhance customer experiences.
                <br><br>
                <strong>Technology Stack</strong>: PHP, Laravel 9, MySQL, Cypress, Docker and AWS
            </div>
            <a href="https://www.flow.cl" class="visit-link">Visit Page</a>
        </div>
    </div>

    <!-- Project 2 -->
    <div class="project-card">
        <img src="{{ '/assets/files/icarcheck.svg' | prepend: site.url }}" alt="icarcheck! Example Image">
        <div class="project-title">icarcheck!</div>
        <div class="project-details">
            <div class="project-description">
                icarcheck! is the efficient solution for obtaining vehicle reports when considering the 
                purchase of a used car.
                Designed for all kinds of businesses and enhance buyer experiences.
                <br><br>
                <strong>Technology Stack</strong>: Laravel 9, Node.js, Flask, MongoDB and PostgreSQL
            </div>
            <a href="https://www.icarcheck.cl" class="visit-link">Visit Page</a>
        </div>
    </div>
</div>