div .navbar {
  width: 100%;
  z-index: 100;
}

div .navbar nav {
  float: left;
}

div .navbar nav ul li {
  float: left;
  font-size: 16px;
}

div .navbar nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}