<h2 id="certifications">📜 Certifications & Courses</h2>

<hr>

<div class="certifications-container">
    <a href="http://verify.skilljar.com/c/7cmzs3i3qx27" class="certification-card" target="_blank">
        <p><strong>Claude Code in Action</strong></p>
        <p>Anthropic Education, 2026</p>
        <i class="fa-solid fa-external-link-alt"></i>
    </a>
    <a href="https://freecodecamp.org/certification/fcc47ae5114-82ae-400a-8505-e803e6d518ce/back-end-development-and-apis" class="certification-card" target="_blank">
        <p><strong>Back End Development and APIs</strong></p>
        <p>freeCodeCamp, 2024</p>
        <i class="fa-solid fa-external-link-alt"></i>
    </a>
    <a href="https://www.scrumstudy.com/certification/verify?type=SFC&number=1022914" class="certification-card" target="_blank">
        <p><strong>Scrum Fundamentals Certified</strong></p>
        <p>SCRUMstudy - Accreditation Body for Scrum and Agile, 2024</p>
        <i class="fa-solid fa-external-link-alt"></i>
    </a>
    <a href="https://www.efset.org/cert/DM5nDz" class="certification-card" target="_blank">
        <p><strong>EF SET English Certificate (C2 Proficient)</strong></p>
        <p>EF Standard English Test (EF SET), 2024</p>
        <i class="fa-solid fa-external-link-alt"></i>
    </a>
</div>